*( margin: 0; padding: 0;)
			
		body {
		font-family: AR CENA;
		background-color: #ebebeb;
		}
		
		#header
		{
		background-color: black;
		
		max-height: 100px;
		height:100%;
		width: 100%;
		margin: center;
		
		}
		
		.container
		{
		max-width: 960px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		}
		
		#logoArea
		{
		width: auto;
		height: 100px;
		float: center;
		margin: auto;
		background-image: url(logo.png);
		}
	
		
		.page
		{
		background-color: #ebebeb;
		padding: 20px;
		padding-bottom: 0;
		width: auto;
		height: auto;
		}
		
		#footer
		{
		background-color: black;
		max-height: 40px;
		height: 100%;
		width: 100%;
		color: white;
		padding-top: 20px;
		}
		
		p
		{
		margin-bottom: 20px;
		}